pydantic_core==2.33.2
pexpect==4.9.0
numpy==2.3.2
sentry-sdk==2.35.2
GitPython==3.1.45
requests==2.32.5
idna==3.10
traitlets==5.14.3
urllib3==2.5.0
charset-normalizer==3.4.3
ptyprocess==0.7.0
grpcio==1.74.0
protobuf==6.32.0
pytz==2025.2
gymnasium==1.2.0
typing-inspection==0.4.1
ipython==9.4.0
platformdirs==4.4.0
torch==2.8.0
contourpy==1.3.3
filelock==3.19.1
Farama-Notifications==0.0.4
pyparsing==3.2.3
jedi==0.19.2
fsspec==2025.7.0
mujoco==3.3.5
asttokens==3.0.0
kiwisolver==1.4.9
tqdm==4.67.1
tzdata==2025.2
ipython_pygments_lexers==1.1.1
certifi==2025.8.3
parso==0.8.5
decorator==5.2.1
rich==14.1.0
PyOpenGL==3.1.10
executing==2.2.0
matplotlib==3.10.5
stack-data==0.6.3
sympy==1.14.0
markdown-it-py==4.0.0
Werkzeug==3.1.3
fonttools==4.59.1
absl-py==2.3.1
gitdb==4.0.12
setuptools==80.9.0
mdurl==0.1.2
networkx==3.5
python-dateutil==2.9.0.post0
mpmath==1.3.0
wcwidth==0.2.13
prompt_toolkit==3.0.51
tensorboard==2.20.0
typing_extensions==4.15.0
click==8.2.1
packaging==25.0
cycler==0.12.1
Jinja2==3.1.6
imageio==2.37.0
pure_eval==0.2.3
pydantic==2.11.7
cloudpickle==3.1.1
Pygments==2.19.2
etils==1.13.0
PyYAML==6.0.2
matplotlib-inline==0.1.7
smmap==5.0.2
pillow==11.3.0
tensorboard-data-server==0.7.2
stable_baselines3==2.7.0
zipp==3.23.0
annotated-types==0.7.0
Markdown==3.8.2
pandas==2.3.2
six==1.17.0
importlib_resources==6.5.2
glfw==2.9.0
wandb==0.21.3
MarkupSafe==3.0.2
